<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    {{> header }}

    <div class="container">
        {{#if messages.success_msg}}
        <div class="alert alert-success">{{messages.success_msg}}</div>
        {{/if}}

        {{#if messages.error_msg}}
        <div class="alert alert-danger">{{messages.error_msg}}</div>
        {{/if}}

        {{#if messages.info_msg}}
        <div class="alert alert-info">{{messages.info_msg}}</div>
        {{/if}}

        {{body}}
    </div>

    {{> footer }}
</body>

</html>