<div class="dashboard-container">
    <h1>Customer Dashboard</h1>
    {{#if userName}}
    <p>Welcome back, {{userName}}!</p>
    {{/if}}

    <nav class="customer-dashboard-nav">
        <a href="{{profileLink}}">Profile</a>
        <a href="{{listBusinessLink}}">Businesses</a>
        <a href="{{bookingsListLink}}">My Bookings</a>
        <a href="{{createBookingLink}}">Create Booking</a>
        <a href="{{viewServiceLink}}">Services</a>
        <a href="{{dashboardLink}}">Home</a>
        <a href="{{logoutLink}}">Logout</a>
    </nav>

    <div class="dashboard-content">
        <!-- Content specific to the customer's dashboard -->
        <h2>Your Bookings</h2>
        {{#each bookings}}
        <div class="booking">
            <p>Booking ID: {{this.id}}</p>
            <p>Business: {{this.Service.Business.name}}</p>
            <p>Service: {{this.Service.name}}</p>
            <p>Booking Time: {{this.bookingTime}}</p>
            <p>Duration: {{this.bookingTime}}</p>
            <!-- More booking details here -->
        </div>
        {{else}}
        <p>No bookings found.</p>
        {{/each}}
        <!-- Other dashboard contents -->
    </div>
</div>