{{> header}}

<h1>{{business.name}}</h1>
<p>{{business.description}}</p>
<p>Operating Hours: {{business.hours}}</p>

{{!-- Conditional rendering for Edit and Delete options --}}
{{#if userIsAuthorized}}
<div>
    <a href="/businesses/{{business.id}}/edit" class="btn btn-primary">Edit Business</a>
    <form action="/businesses/{{business.id}}?_method=DELETE" method="POST"
        onsubmit="return confirm('Are you sure you want to delete this business?');">
        <button type="submit" class="btn btn-danger">Delete Business</button>
    </form>
</div>
{{/if}}

{{!-- You can add more business details here --}}

{{> footer}}