{{> header}}

<div class="container">
    <h1 class="heading">Services List</h1>

    {{#if services.length}}
    <div class="list-group">
        {{#each services as |service|}}
        <div class="list-group-item">
            <h2 class="list-group-item-heading">{{service.name}}</h2>
            <p class="list-group-item-text">{{service.description}}</p>
            <p class="price">Price: ${{service.price}}</p>
            <a href="/services/{{service.id}}" class="btn btn-primary">View Details</a>
        </div>
        {{/each}}
    </div>
    {{else}}
    <p>No services found.</p>
    {{/if}}

    <a href="/services/new" class="btn btn-secondary">Add New Service</a>
</div>

{{> footer}}